<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.klauncher.notifier"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.READ_CALL_LOG"/>

    <application>
        <service android:name="com.klauncher.notifier.NotifierService" />

        <receiver android:name="com.klauncher.notifier.BootCompletedReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <provider android:name="com.klauncher.notifier.NotifierProvider"
            android:authorities="com.klauncher.providers.notifier"
            android:label="@string/provider_label"
            android:multiprocess="false"
            android:exported="true">
        </provider>
    </application>

</manifest>
